<div class="table-container-for-the-form" style="display: table; height: 100%; margin: 0 auto;">
  <div class="auth-form" style="display: table-cell; vertical-align: middle; padding-top: 0;">
    <form (submit)="login()" role="form">
      <div class="auth-form-header">
        <img [src]="['assets/metabibasi.jpg']" height="180" style="border:0; align-content: center"
             width="180"/>
        <h1>Sign in to Metabibasi</h1>
      </div>

      <div class="auth-form-body">
        <label for="login_field">
          Username
        </label>
        <input [(ngModel)]="credentials.username" autocapitalize="off" autocorrect="off" autofocus="autofocus"
               class="form-control input-block"
               id="login_field" name="login" tabindex="1" type="text">

        <label for="password">
          Password
        </label>
        <input [(ngModel)]="credentials.password" class="form-control form-control input-block" id="password"
               name="password" tabindex="2"
               type="password">
        <button class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3"
                type="submit"
                value="Sign in"> Login
        </button>
      </div>
      <div style="text-align: center;">
        <span (click)="register()" class="btn btn-link pointer-on-hover">Register to Metabibasi.</span>
      </div>
    </form>
  </div>
</div>
